DATABASE_ENGINE=django.db.backends.mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=veepower_db
DATABASE_USER=root
DATABASE_PASSWORD=root
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
